.root {
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  min-width: 667px;
}

.uncovered {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-width: 667px;
  min-height: 375px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
}

.time-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62px;
  height: 280px;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
}

.time-line_left {
  margin-left: 20px;
  background-position: left;
  background-image: url(./img/time-bg-left.svg);
}

.time-line_right {
  margin-right: 20px;
  background-position: right;
  background-image: url(./img/time-bg-right.svg);
}

.timer {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 400;
  z-index: 2;
  margin: 0;
}

.button-wrapper {
  width: 100%;
}

.button {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

@keyframes move {
  from {
    left: 0;
    transform: translateX(0%);
  }

  to {
    left: 100%;
    transform: translateX(-100%);
  }
}

.animation {
  animation-name: move;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
