.time-line {
  display: flex;
  align-items: center;
  width: 10vw;
  height: 42vw;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 5vw 42vw;
}

.time-line_position_left {
  margin-left: 3vw;
  background-position: left;
  background-image: url(../../img/time-bg-left.svg);
}

.time-line_position_right {
  justify-content: flex-end;
  margin-right: 3vw;
  background-position: right;
  background-image: url(../../img/time-bg-right.svg);
}

.time-line__timer {
  max-width: 50px;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 400;
  z-index: 2;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-line__timer_position_left {
  right: 0;
}

.time-line__timer_position_right {
  left: 0;
}

.time-line__img-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 5vw;
  height: 0;
}

.time-line__img {
  align-items: center;
  width: 5vw;
  height: 42vw;
}

@media (max-width: 480px) {
  .time-line__timer {
    font-size: 9px;
  }
}

@media (min-width: 1280px) {
  .time-line__timer {
    font-size: 18px;
  }
}
